@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    padding:0;
}

/* Top NavBar */
.nav_links, a, button{
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    font-weight: 500;
    font-size:20px;
    color: #edf0f1;
    text-decoration:none;
    }

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1.2% 10%;
    background-color: #24252A;
}

.logo {
    cursor:pointer; 
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#F09637;
}

/* Button */
form{
    padding: 6px 25px;
    background-color: #F09637;
    border: none;
    border-radius:50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.form:hover{
    background-color:#c28039;
}

input{
    background-color: #F09637;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    font-weight: 500;
    font-size:20px;
    color: #edf0f1;
    text-decoration:none;
    border:none;
}

.nav_links li .ui-btn-active {
    background: inherit;
    color: #c28039;
    border:none
 } 

  body{
    background-image: url("images/olympus1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Side NavBar */
.sidenav {
    height: 100%;
    width: 9%; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden; 
    padding-top: 20px; 
  }

  .table {
    font-weight:bold;
    font-size:24px;
    margin-top:10%;
    color:white;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
  }

  .sidenav_links{
    margin-top:40%;
    list-style: none;
    
  }

  .sidenav_links li {
    display:inline-block;
    padding: 0px 5%;
}

.sidenav_links li a {
    transition: all 0.3s ease 0s;
}

.sidenav_links li a:hover{
    color:#F09637;
}

.list_margin{
    margin-top:15%;
}

/* Text Bubbles */
.bubble {
    width:300px;
    padding:20px;
    text-align:center;
    border-radius: 8px;
    background: rgba(155, 150, 150, 0.7);
    margin-left: 46%;      
    font-weight: bold;
    font-size:24px;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    margin-top:1%;  
}

.bubble_center{
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.bubble1 {
    width:60%;
    padding:20px;
    margin:20px;
    border-radius:8px;
    background: rgba(155, 150, 150, 0.5);
    margin-left:11%;
    font-size:17px;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    line-height:30px;
}

h1,h2 {
    font-weight: bold;
    margin-left:11%;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;  
    margin-top:1%; 
    
}

/* Image Sizing/Shape */
.img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius:8px;
    width:100%;
}

/* Cards */
.card {
    width: 190px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 8px;
    border-radius:8px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    max-width: 100%;
    height: auto;
    text-overflow: ellipsis;
}
  
  .container {
    padding: 2px 16px;
    background-color:#F8F2ED;
    border-radius:8px;
}
  
.row{
    justify-content: left;
    margin-left:11%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col{
    margin: 0.8%;
}

p{
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
}

.cardlink {
      color:black;
}

.cardlink1 {
    color:black;
    font-size:90%;
}

.cardlink2 {
    color:black;
    font-size:70%;
}

.row1{
    justify-content: left;
    margin-left:11%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:4.5%;
}
