@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    padding:0;
}

/* Top NavBar */
.nav_links, a, button{
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    font-weight: 500;
    font-size:20px;
    color: #edf0f1;
    text-decoration:none;
    }

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1.2% 10%;
    background-color: #24252A;
}

.logo {
    cursor:pointer; 
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display:inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#F09637;
}

/* Button */
button{
    padding: 6px 25px;
    background-color: #F09637;
    border: none;
    border-radius:50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:#c28039;
}

.nav_links li .ui-btn-active {
    background: inherit;
    color: #c28039;
    border:none
} 

body{
    background-image: url("images/olympus2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Side NavBar */
.sidenav {
    height: 100%;
    width: 9%; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    overflow-x: hidden; 
    padding-top: 20px; 
}

.table {
    font-weight:bold;
    font-size:24px;
    margin-top:10%;
    color:white;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
}

.sidenav_links{
      margin-top:40%;
      list-style: none;

}

.sidenav_links li {
    display:inline-block;
    padding: 0px 5%;
}

.sidenav_links li a {
    transition: all 0.3s ease 0s;
}

.sidenav_links li a:hover{
    color:#F09637;
}

.list_margin{
    margin-top:15%;
}

/* Text Bubble */
.bubble {
    width:300px;
    padding:20px;
    text-align:center;
    border-radius: 8px;
    background: rgba(155, 150, 150, 0.7);
    margin-left: 50%;      
    font-weight: bold;
    font-size:24px;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    margin-top:1%;  
}

.bubble_center{
    margin-left: auto;
    margin-right: auto;
    display:block;
}

.bubble1 {
    width:60%;
    padding:20px;
    margin:20px;
    border-radius: 8px;
    background: rgba(155, 150, 150, 0.5);
    margin-left: 11%;
    font-size:17px;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    line-height: 30px;
          
}

h1,h2 {
    font-weight: bold;
    margin-left:11%;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;  
    margin-top:1%; 
}

.image {
    border-radius: 8px;
    border-width:3px;
    border-color:black;
    float:right;
    border-style:solid;
    filter:brightness(110%);
    width:25%;
}

.row {
    display:flex;
}

.bubble2 {
    width:40%;
    padding:20px;
    margin:20px;
    border-radius: 8px;
    background: rgba(155, 150, 150, 0.5);
    margin-left: 11%;
    font-size:17px;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    line-height: 30px;
    
}

.image1 {
    border-radius: 8px;
    border-width:3px;
    border-color:black;
    float:left;
    border-style:solid;
    filter:brightness(110%);
}

.emphasis {
    color: #ac7233;
}

.bubble3 {
    width:20%;
    padding:20px;
    margin:20px;
    border-radius: 8px;
    background: rgba(155, 150, 150, 0.5);
    margin-left: 11%;
    font-size:17px;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    line-height: 30px;
}

.bubble4 {
    width:40%;
    padding:20px;
    margin:20px;
    border-radius: 8px;
    background: rgba(155, 150, 150, 0.5);
    margin-left: 11%;
    font-size:17px;
    font-family: "IM Fell English SC","Montserrat", Sans-serif;
    line-height: 30px;
}

/* Allows the validators to be under each other */
.row1{
    justify-content: left;
    margin-left:11%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:4.5%;
}
